In [7]:
list1=["arun","anish",4,8,"bhavya",6]

b=max(list1)
c=len(list1)

print(b)
print(c)

TypeError: '>' not supported between instances of 'int' and 'str'

In [8]:
list1=[30,50,56,3]
a=sum(list1)
b=max(list1)
c=min(list1)
print(a,b,c)

139 56 3

In [11]:
list1=["anu","anish","Arun","Shikandar"]

b=max(list1)
c=min(list1)
print(b,c)
list2=list1*3
print(list2)

anu Arun
['anu', 'anish', 'Arun', 'Shikandar', 'anu', 'anish', 'Arun', 'Shikandar', 'anu', 'anish', 'Arun', 'Shikandar']

In [18]:
num=int(input("enter a number"))
temp=num
rev=0
while(num>0):
    rem=num % 10
    
    rev=(rev * 10) + rem
    num=num // 10
if(temp==rev):
    print("Enterd number is palindrome")
else:
    print("Number is not palindrome")

enter a number123
Number is not palindrome

In [20]:
n=int(input("Enter size:"))
for i in range(n):
    print(2**i)

Enter size:10
1
2
4
8
16
32
64
128
256
512

In [41]:

sum1=0
i=1
n=int(input("Enter size:"))
print("Natural numbers are:")
while(i<=n):
    print(i,end=" ")
    sum1+=i;
    i+=1;
print("\nthe sum is",sum1)

Enter size:5
Natural numbers are:
1 2 3 4 5
the sum is 15

In [32]:
n=int(input("enter number of lines:"))
for i in range(n):
    for  j in range(i+1):
        print("*",end=" ")
    print()

enter number of lines:5

*
* *
* * *
* * * *
* * * * *

In [39]:
n=int(input("enter number of lines:"))
for i in range(n,0,-1):
    for  j in range(i):
        print("*",end=" ")
    print()

enter number of lines:5
* * * * *
* * * *
* * *
* *
*

In [42]:
n=int(input("enter number of lines:"))
for i in range(n):
    ch=65
    for  j in range(i+1):
        print(chr(ch),end=" ")
        ch+=1
    print()

enter number of lines:5
A
A B
A B C
A B C D
A B C D E

In [44]:
n=int(input("enter number of lines:"))
for i in range(n):
    for j in range(n-i):
        print(end=" ")
    for  k in range(i+1):
        print("*",end=" ")
    print()

enter number of lines:5
     *
    * *
   * * *
  * * * *
 * * * * *

In [46]:
n=int(input("enter number of lines:"))
ch=65
for i in range(n):
    
    for  j in range(i+1):
        print(ch,end=" ")
        ch+=1
    print()

enter number of lines:5
65
66 67
68 69 70
71 72 73 74
75 76 77 78 79

In [49]:

num=int(input("Enter size:"))
print("Natural numbers are:")
while(num>0):
    print(num,end=" ")
    num -=1

Enter size:5
Natural numbers are:
5 4 3 2 1

In [52]:
num=int(input("Enter size:"))
print("Natural numbers are:")
for i in range(num,0,-1):
    print(i,end=" ")

Enter size:5
Natural numbers are:
5 4 3 2 1

In [54]:
num=int(input("Enter size:"))
f1=0
f2=1
for i in range(num):
    print(f1,end=" ")
    f3=f1+f2
    f1=f2
    f2=f3

Enter size:10
0 1 1 2 3 5 8 13 21 34

In [59]:
num=int(input("Enter size:"))
fact=1
for i in range(1,num+1):
    fact *=i
print("factorial is:",fact)

Enter size:5
factorial is: 120