In [2]:
class parent:
    def parent(self):
        print("This is parent Class!")
class child(parent):
    def child(self):
        print("This is child Class!")
object=child()
object.child()
object.parent()

This is child Class!
This is parent Class!

In [18]:
class mother:
    mothername=""
    def mother(self):
        print(self.mothername)
class father:
    fathername=""
    def father(self):
        print(self.fathername)
class child(mother,father):
    def child(self):
        print("father:",self.fathername)
        print("mother:",self.mothername)
object=child()
object.fathername="SHiv"
object.mothername="Parvathi"
object.child()

father: <b>SHiv<b>
mother: Parvathi

In [21]:
class mother:
    mothername="Sitha"
    def mother(self):
        print(self.mothername)
class father:
    fathername="Ram"
    def father(self):
        print(self.fathername)
obj1=mother
obj2=father
obj1.mother
obj2.father

In [24]:
class person:
    def __init__(self,uid,name,age):
        self.uid=uid
        self.name=name
        self.age=age
    def empdetails(self):
        print("Employee Id:",self.uid)
        print("Name:",self.name)
        print("Age:",self.age)
class employee(person):
    def __init__(self,uid,name,age,department,salary):
        super(employee,self).__init__(uid,name,age)
        self.department=department
        self.salary=salary
    def empdetails(self):
        print("Employee Id:",self.uid)
        print("Name:",self.name)
        print("age:",self.age)
        print("department:",self.department)
        print("Salary:",self.salary)
emp1=employee(101,"Avinash",27,"IT",30000)
emp1.empdetails()

Employee Id: 101
Name: Avinash
age: 27
department: IT
Salary: 30000

In [31]:
class person:
    def __init__(self,uid,name,age):
        self.uid=uid
        self.name=name
        self.age=age
    def empdetails(self):
        print("Employee Id:",self.uid)
        print("Name:",self.name)
        print("Age:",self.age)
class employee(person):
    def __init__(self,uid,name,age,designation,salary):
        super(employee,self).__init__(uid,name,age)
        self.designation=designation
        self.salary=salary
    def empdetails(self):
        print("Employee Id:",self.uid)
        print("Name:",self.name)
        print("age:",self.age)
        print("department:",self.designation)
        print("Salary:",self.salary)
class department(employee):
    def __init__(self,uid,name,age,designation,salary,managerid,managername):
        super(department,self).__init__(uid,name,age,designation,salary)
        self.managerid=managerid
        self.managername=managername
    def empdetails(self):
        print("Employee Id:",self.uid)
        print("Name:",self.name)
        print("age:",self.age)
        print("department:",self.designation)
        print("Salary:",self.salary)
        print("Manager Id:",self.managerid)
        print("Manager name:",self.managername)
dept1=department(102,"Kaushik",27,"IT",50000,2277,"Akshay")
dept1.empdetails()
emp1=employee(101,"Avinash",27,"IT",30000)
emp1.empdetails()

Employee Id: 102
Name: Kaushik
age: 27
department: IT
Salary: 50000
Manager Id: 2277
Manager name: Akshay
Employee Id: 101
Name: Avinash
age: 27
department: IT
Salary: 30000

In [6]:
class student:
    def __init__(self,regno,name,course,marks):
        self.regno=regno
        self.name=name
        self.course=course
        self.marks=marks
    def studentdetails(self):
        print("-------------------------------------------------------------------------------")
        print("Reg No:",end="\t\t")
        print("Name:",end="\t\t")
        print("Course:",end="\t\t")
        print("Marks:")
        print("-------------------------------------------------------------------------------")
        print(self.regno,end="\t\t")
        print(self.name,end="\t\t")
        print(self.course,end="\t\t")
        print(self.marks)
        print()
    def total(self):
        print("TOtal marks:",sum(marks))
    def average(self):
        total=sum(marks)
        avg=total/5
        print("Average:",avg)
    def grade(self):
        total=sum(marks)
        avg=total/5
        if avg>=80 and avg<=100:
            print("A Grade")
        elif avg>=60 and avg<80:
            print("B Grade")
        elif avg>=45 and avg<60:
            print("C Grade")
        elif avg>=35 and avg<45:
            print("D Grade")
        elif avg<35:
            print("Fail")
        else:
            print("Invalid marks")    
regno=int(input("Enter Register Number:"))
name=input("Enter Name:")
course=input("Enter Course:")
marks=[]
for i in range(5):
          marks.append(int(input("Enter Mark:")))
std=student(regno,name,course,marks)
std.studentdetails()
std.total()
std.average()
std.grade()

Enter Register Number:101
Enter Name:ashitha
Enter Course:msc
Enter Mark:89
Enter Mark:98
Enter Mark:90
Enter Mark:97
Enter Mark:96
-------------------------------------------------------------------------------
Reg No:		Name:		Course:		Marks:
-------------------------------------------------------------------------------
101		ashitha		msc		[89, 98, 90, 97, 96]
TOtal marks: 470
Average: 94.0
A Grade

In [17]:
class employee:
    def __init__(self,empid,name,designation,salary):
        self.empid=empid
        self.name=name
        self.designation=designation
        self.salary=salary
    def empdetails(self):
        print(self.empid,end="\t\t")
        print(self.name,end="\t\t")
        print(self.designation,end="\t\t")
        print(self.salary,end="\t\t")
        print(self.grosssal(),end="\t\t\t")
        print(self.netsal())
    def grosssal(self):
        DA=5/100*self.salary
        HRA=10/100*self.salary
        gross=self.salary+DA+HRA
        return gross
    def netsal(self):
        LIC=3/100*self.salary
        PF=8/100*self.salary
        deduction=LIC+PF
        netsalary=self.grosssal()-deduction
        return netsalary
empid=[]
name=[]
designation=[]
salary=[]
for i in range(5):
    empid.append(int(input("Enter Register Number:")))
    name.append(input("Enter Name:"))
    designation.append(input("Enter Designation:"))
    salary.append(float(input("Enter Basic Salary:")))

emp1=employee(empid[0],name[0],designation[0],salary[0])
emp2=employee(empid[1],name[1],designation[1],salary[1])
emp3=employee(empid[2],name[2],designation[2],salary[2])
emp4=employee(empid[3],name[3],designation[3],salary[4])
emp5=employee(empid[4],name[4],designation[4],salary[4])
print("**********************************Employee Details*****************************************************")
print("-------------------------------------------------------------------------------------------------------")
print("Emp Id:",end="\t\t")
print("Name:",end="\t\t")
print("department:",end="\t\t")
print("Salary:",end="\t\t")
print("Gross Salary:",end="\t\t")
print("Net salary:")
print("-------------------------------------------------------------------------------------------------------")
emp1.empdetails()
emp2.empdetails()
emp3.empdetails()
emp4.empdetails()
emp5.empdetails()

Enter Register Number:101
Enter Name:Rock
Enter Designation:Developer
Enter Basic Salary:34000
Enter Register Number:102
Enter Name:John
Enter Designation:Product manager
Enter Basic Salary:45000
Enter Register Number:103
Enter Name:Delma
Enter Designation:Technical Lead
Enter Basic Salary:40000
Enter Register Number:104
Enter Name:Shirla
Enter Designation:Accountant
Enter Basic Salary:35000
Enter Register Number:105
Enter Name:Ramya
Enter Designation:Designer
Enter Basic Salary:25000
******************************Employee Details*********************************************************
-------------------------------------------------------------------------------------------------------
Emp Id:		Name:		department:		Salary:		Gross Salary:		Net salary:
-------------------------------------------------------------------------------------------------------
101		Rock		Developer		34000.0		39100.0			35360.0
102		John		Product manager		45000.0		51750.0			46800.0
103		Delma		Technical Lead		40000.0		46000.0			41600.0
104		Shirla		Accountant		25000.0		28750.0			26000.0
105		Ramya		Designer		25000.0		28750.0			26000.0